@import "../shared.scss";

.reviews-container {
  .reviews {
    max-height: 240px;
    padding: 0 20px;
    width: 100%;
    overflow-y: scroll;
    border-top: 1px dotted $primary-grey;
    border-bottom: 1px dotted $primary-grey;
  }
  .stars {
    font-size: 1.3em;
    color: yellow;
  }
  .date {
    font-size: 0.8em;
  }

  h5 {
    color: $primary-grey;
  }
}
