.navbar {
  i {
    color: white;
    cursor: pointer;
  }
  p {
    cursor: pointer;
  }

  button {
    border: none;
    background: none;
  }

  #search-input {
    width: 150px;
  }

  .dropdown-toggle {
    background: none;
  }
}
